{% extends 'partials/layout.twig' %}

{% block content %}
    <h2>RSS Feeds</h2>

    <p>
        Use these feeds to get your daily or weekly dose of random blog posts, straight to your RSS reader.
    </p>

    <ul>
        <li><a href="dailyfeed">Daily feed of 1 random post</a></li>
        <li><a href="dailyfeed?num=3">Daily feed of 3 random posts</a></li>
        <li><a href="dailyfeed?num=5">Daily feed of 5 random posts</a></li>
        <li><a href="dailyfeed?num=10">Daily feed of 10 random posts</a></li>
    </ul>

    <ul>
        <li><a href="weeklyfeed">Weekly feed of 5 random posts</a></li>
        <li><a href="weeklyfeed?num=10">Weekly feed of 10 random posts</a></li>
        <li><a href="weeklyfeed?num=15">Weekly feed of 15 random posts</a></li>
        <li><a href="weeklyfeed?num=25">Weekly feed of 25 random posts</a></li>
    </ul>

    <p>
        If you want to stay up-to-date with changes made to indieblog.page itself, you can subscribe to
        the Github commits.
    </p>

    <ul>
        <li><a href="https://github.com/splitbrain/blogrng/commits/master.atom">Feed of recent commits</a></li>
    </ul>

    <h2>Mastodon</h2>

    <p>
        You can follow the <a href="https://indieweb.social/@indieblog">indieblog.page Mastodon account</a> for
        a random post twice a day. Occasional updates about the service itself will be posted as well.
    </p>

{% endblock %}
