{% extends 'partials/layout.twig' %}

{% block content %}
    <h2>RSS Feeds</h2>

    <p>
        Use these feeds to get your daily or weekly dose of random blog posts, straight to your RSS reader.
    </p>

    <ul>
        <li><a href="dailyfeed">Daily feed of 1 random post</a></li>
        <li><a href="dailyfeed?num=3">Daily feed of 3 random posts</a></li>
        <li><a href="dailyfeed?num=5">Daily feed of 5 random posts</a></li>
        <li><a href="dailyfeed?num=10">Daily feed of 10 random posts</a></li>
    </ul>

    <ul>
        <li><a href="weeklyfeed">Weekly feed of 5 random posts</a></li>
        <li><a href="weeklyfeed?num=10">Weekly feed of 10 random posts</a></li>
        <li><a href="weeklyfeed?num=15">Weekly feed of 15 random posts</a></li>
        <li><a href="weeklyfeed?num=25">Weekly feed of 25 random posts</a></li>
    </ul>

{% endblock %}
