{% extends 'partials/layout.twig' %}

{% block content %}
    <h2>Coming soon</h2>

    <p>
        I want to add a form here soonish. For now, please just email me:
        <a href="mailto:andi@splitbrain.org">andi@splitbrain.org</a>.
    </p>
{% endblock %}
