{% extends 'partials/layout.twig' %}

{% block content %}
    <h2>Coming soon</h2>

    <p>
        I want to add a form here soonish. For now, please just email me:
        <a href="mailto:andi@splitbrain.org">andi@splitbrain.org</a>.
    </p>

    <details>
        <summary>What sites can be submitted?</summary>

        <p>
            I haven't really decided on any firm rules. If it's a personal site with an RSS feed, it is probably
            welcome.
        </p>

        <p>No illegal stuff, no corporate blogs, no nazis.</p>

    </details>
{% endblock %}
